<a href="https://colab.research.google.com/github/jihye-kim11/Sound-mechanic/blob/master/n131a_vectors_matrices_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 3 / NOTE 1*

# 📝 Assignment

# 1. Portfolio

`Dot product` & `Matrix Multiplication` 을 이용하여 다음 포트폴리오의 사람별 총합을 계산하세요.
- 결과는 `res`에 list형태로 저장합니다.

|People|Name|Price|Amount|
|:-:|:-:|:-:|:-:|
|X|A|100|35|
|X|B|500|10|
|X|C|250|25|
|X|D|50|40|
|Y|A|100|-|
|Y|B|500|50|
|Y|C|250|50|
|Y|D|50|-|
|Z|A|100|-|
|Z|B|500|-|
|Z|C|250|100|
|Z|D|50|-|

In [3]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

df = pd.DataFrame([
    ['X','X','X','X','Y','Y','Y','Y','Z','Z','Z','Z'],
    [100,500,250,50,100,500,250,50,100,500,250,50],
    [35,10,25,40,0,50,50,0,0,0,100,0]],
    index = ['people','price','amount']
).T

df

   people price amount
0       X   100     35
1       X   500     10
2       X   250     25
3       X    50     40
4       Y   100      0
5       Y   500     50
6       Y   250     50
7       Y    50      0
8       Z   100      0
9       Z   500      0
10      Z   250    100
11      Z    50      0

In [4]:
dfx=df[df['people'].isin(['X'])]
dfy=df[df['people'].isin(['Y'])]
dfz=df[df['people'].isin(['Z'])]
res=[]
res.append(np.dot(dfx['price'],dfx['amount']))
res.append(np.dot(dfy['price'],dfy['amount']))
res.append(np.dot(dfz['price'],dfz['amount']))
res

[16750, 37500, 25000]

# 2. Norms

주어진 값 $x_0, x_1, ... x_n$ 를 element로 갖는 벡터 $v$에 대하여 

$L_1$ Norm 의 정의는 다음과 같습니다. 

$|v| = |x_0| + |x_1| + ... + |x_n|$

$L_2$ Norm 의 정의는 다음과 같습니다.

$||v|| = \sqrt {{x_0}^2 + {x_1}^2 + ... + {x_n}^2}$

이를 참조하여 주어진 벡터에 대해서 $L_2$ Norm 의 값과 $L_1$ Norm 의 값의 차이(절대값)를 계산하는 함수를 만드세요.

In [20]:
import math
import numpy as np
def NormDif(v): # v = np.array()
  l1=0
  l2=0
  for i in v:
    l1+=abs(i)
    l2+=abs(i)**2
  l2=math.sqrt(l2)
  return abs(l1-l2)
  

NormDif(np.array([1,-2,2]))

2.0

## 3. Errors



- 2개의 벡터와, error의 타입을 입력받아 그 결과값을 계산하는 함수를 작성하세요.

- 여기서 error의 타입은 `MSE`, `MAE` 2가지 입니다.

In [59]:
#MSE: 실제 값과 예측 값의 차이를 제곱해 평균화
#MAE:실제 값과 예측 값의 차이(Error)를 절대값으로 변환해 평균화
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import mean_absolute_error
from fractions import Fraction
def error(x, y, type) :
  if type=='MSE':
    return mean_squared_error(x, y)
  else:
    return mean_absolute_error(x, y)

error(np.array([1, 2, 4]), np.array([3, 4, 3]), 'MSE')
error(np.array([1, 2, 4]), np.array([3, 4, 3]), 'MAE')

1.6666666666666667

# 4. Inverse

- 주어진 matrix에 대해서 inverse matrix를 계산하여 반환하는 함수를 작성하세요. 
- 이 때 inverse 계산이 불가능 한 경우 `-1` 을 반환합니다.

In [36]:
def myInverse(m) : # m = np.array()
  return np.linalg.inv(m)
myInverse(np.array([[1,2],[3,4]]))

array([[-2. ,  1. ],
       [ 1.5, -0.5]])

## Grading

이전 과제를 완료했다면, 아래의 코드를 실행하세요.

In [55]:
def grade(res, NormDif, error, myInverse):
  score = 0
  score += ((res == np.array([16750, 37500, 25000])).sum() == 3)
  score += (NormDif(np.array([1, -2, 2])) == 2) #np.array([1, -2, 2]))로 변경 필요
  score += (error(np.array([1, 2, 4]), np.array([3, 4, 3]), 'MSE') == 9/3)
  score += (error(np.array([1, 2, 4]), np.array([3, 4, 3]), 'MAE') == 5/3)
  score += np.allclose(myInverse(np.array([[1,2],[3,4]])), np.array([[-2, 1], [1.5, -0.5]]))
  
  return(score)

In [60]:
grade(res, NormDif, error, myInverse)

5

# 🔥 도전과제

다음 링크의 내용을 참조하여 **Cramer's rule**을 사용해 $x_1$, $x_2$, $x_3$의 값을 구하세요.

<https://youtu.be/6StS7VjtuGI>


$x_1$ + $2x_3$ = 6

$-3x_1$ + $4x_2$ + $6x3$ = 30

$-x_1$ $-2x_2$ + $3x_3$ = 8

In [79]:
#크래머 공식은 행렬식을 이용해 연립일차방정식을 푸는 방법
import tensorflow as tf
A=np.array([[1,0,2],[-3,4,6],[-1,-2,3]]) 
B=np.array([[6],[30],[8]]) #B는 역행렬이 아니다

AT=int(np.linalg.det(A))
A1=np.array([[6,0,2],[30,4,6],[8,-2,3]]) 
AT1=np.linalg.det(A1)
A2=np.array([[1,6,2],[-3,30,6],[-1,8,3]]) 
AT2=np.linalg.det(A2)
A3=np.array([[1,0,6],[-3,4,30],[-1,-2,8]]) 
AT3=np.linalg.det(A3)

C=np.array([[AT1/AT,AT2/AT,AT3/AT]])

print('x1:',C[0][0],'x2:',C[0][1],'x3:',C[0][2])

x1: -0.9090909090909091 x2: 1.6363636363636365 x3: 3.4545454545454546