<a href="https://colab.research.google.com/github/jihye-kim11/Sound-mechanic/blob/master/n131a_vectors_matrices_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 3 / NOTE 1*

# ğŸ“ Assignment

# 1. Portfolio

`Dot product` & `Matrix Multiplication` ì„ ì´ìš©í•˜ì—¬ ë‹¤ìŒ í¬íŠ¸í´ë¦¬ì˜¤ì˜ ì‚¬ëŒë³„ ì´í•©ì„ ê³„ì‚°í•˜ì„¸ìš”.
- ê²°ê³¼ëŠ” `res`ì— listí˜•íƒœë¡œ ì €ì¥í•©ë‹ˆë‹¤.

|People|Name|Price|Amount|
|:-:|:-:|:-:|:-:|
|X|A|100|35|
|X|B|500|10|
|X|C|250|25|
|X|D|50|40|
|Y|A|100|-|
|Y|B|500|50|
|Y|C|250|50|
|Y|D|50|-|
|Z|A|100|-|
|Z|B|500|-|
|Z|C|250|100|
|Z|D|50|-|

In [3]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

df = pd.DataFrame([
    ['X','X','X','X','Y','Y','Y','Y','Z','Z','Z','Z'],
    [100,500,250,50,100,500,250,50,100,500,250,50],
    [35,10,25,40,0,50,50,0,0,0,100,0]],
    index = ['people','price','amount']
).T

df

   people price amount
0       X   100     35
1       X   500     10
2       X   250     25
3       X    50     40
4       Y   100      0
5       Y   500     50
6       Y   250     50
7       Y    50      0
8       Z   100      0
9       Z   500      0
10      Z   250    100
11      Z    50      0

In [4]:
dfx=df[df['people'].isin(['X'])]
dfy=df[df['people'].isin(['Y'])]
dfz=df[df['people'].isin(['Z'])]
res=[]
res.append(np.dot(dfx['price'],dfx['amount']))
res.append(np.dot(dfy['price'],dfy['amount']))
res.append(np.dot(dfz['price'],dfz['amount']))
res

[16750, 37500, 25000]

# 2. Norms

ì£¼ì–´ì§„ ê°’ $x_0, x_1, ... x_n$ ë¥¼ elementë¡œ ê°–ëŠ” ë²¡í„° $v$ì— ëŒ€í•˜ì—¬ 

$L_1$ Norm ì˜ ì •ì˜ëŠ” ë‹¤ìŒê³¼ ê°™ìŠµë‹ˆë‹¤. 

$|v| = |x_0| + |x_1| + ... + |x_n|$

$L_2$ Norm ì˜ ì •ì˜ëŠ” ë‹¤ìŒê³¼ ê°™ìŠµë‹ˆë‹¤.

$||v|| = \sqrt {{x_0}^2 + {x_1}^2 + ... + {x_n}^2}$

ì´ë¥¼ ì°¸ì¡°í•˜ì—¬ ì£¼ì–´ì§„ ë²¡í„°ì— ëŒ€í•´ì„œ $L_2$ Norm ì˜ ê°’ê³¼ $L_1$ Norm ì˜ ê°’ì˜ ì°¨ì´(ì ˆëŒ€ê°’)ë¥¼ ê³„ì‚°í•˜ëŠ” í•¨ìˆ˜ë¥¼ ë§Œë“œì„¸ìš”.

In [20]:
import math
import numpy as np
def NormDif(v): # v = np.array()
  l1=0
  l2=0
  for i in v:
    l1+=abs(i)
    l2+=abs(i)**2
  l2=math.sqrt(l2)
  return abs(l1-l2)
  

NormDif(np.array([1,-2,2]))

2.0

## 3. Errors



- 2ê°œì˜ ë²¡í„°ì™€, errorì˜ íƒ€ì…ì„ ì…ë ¥ë°›ì•„ ê·¸ ê²°ê³¼ê°’ì„ ê³„ì‚°í•˜ëŠ” í•¨ìˆ˜ë¥¼ ì‘ì„±í•˜ì„¸ìš”.

- ì—¬ê¸°ì„œ errorì˜ íƒ€ì…ì€ `MSE`, `MAE` 2ê°€ì§€ ì…ë‹ˆë‹¤.

In [59]:
#MSE: ì‹¤ì œ ê°’ê³¼ ì˜ˆì¸¡ ê°’ì˜ ì°¨ì´ë¥¼ ì œê³±í•´ í‰ê· í™”
#MAE:ì‹¤ì œ ê°’ê³¼ ì˜ˆì¸¡ ê°’ì˜ ì°¨ì´(Error)ë¥¼ ì ˆëŒ€ê°’ìœ¼ë¡œ ë³€í™˜í•´ í‰ê· í™”
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import mean_absolute_error
from fractions import Fraction
def error(x, y, type) :
  if type=='MSE':
    return mean_squared_error(x, y)
  else:
    return mean_absolute_error(x, y)

error(np.array([1, 2, 4]), np.array([3, 4, 3]), 'MSE')
error(np.array([1, 2, 4]), np.array([3, 4, 3]), 'MAE')

1.6666666666666667

# 4. Inverse

- ì£¼ì–´ì§„ matrixì— ëŒ€í•´ì„œ inverse matrixë¥¼ ê³„ì‚°í•˜ì—¬ ë°˜í™˜í•˜ëŠ” í•¨ìˆ˜ë¥¼ ì‘ì„±í•˜ì„¸ìš”. 
- ì´ ë•Œ inverse ê³„ì‚°ì´ ë¶ˆê°€ëŠ¥ í•œ ê²½ìš° `-1` ì„ ë°˜í™˜í•©ë‹ˆë‹¤.

In [36]:
def myInverse(m) : # m = np.array()
  return np.linalg.inv(m)
myInverse(np.array([[1,2],[3,4]]))

array([[-2. ,  1. ],
       [ 1.5, -0.5]])

## Grading

ì´ì „ ê³¼ì œë¥¼ ì™„ë£Œí–ˆë‹¤ë©´, ì•„ë˜ì˜ ì½”ë“œë¥¼ ì‹¤í–‰í•˜ì„¸ìš”.

In [55]:
def grade(res, NormDif, error, myInverse):
  score = 0
  score += ((res == np.array([16750, 37500, 25000])).sum() == 3)
  score += (NormDif(np.array([1, -2, 2])) == 2) #np.array([1, -2, 2]))ë¡œ ë³€ê²½ í•„ìš”
  score += (error(np.array([1, 2, 4]), np.array([3, 4, 3]), 'MSE') == 9/3)
  score += (error(np.array([1, 2, 4]), np.array([3, 4, 3]), 'MAE') == 5/3)
  score += np.allclose(myInverse(np.array([[1,2],[3,4]])), np.array([[-2, 1], [1.5, -0.5]]))
  
  return(score)

In [60]:
grade(res, NormDif, error, myInverse)

5

# ğŸ”¥ ë„ì „ê³¼ì œ

ë‹¤ìŒ ë§í¬ì˜ ë‚´ìš©ì„ ì°¸ì¡°í•˜ì—¬ **Cramer's rule**ì„ ì‚¬ìš©í•´ $x_1$, $x_2$, $x_3$ì˜ ê°’ì„ êµ¬í•˜ì„¸ìš”.

<https://youtu.be/6StS7VjtuGI>


$x_1$ + $2x_3$ = 6

$-3x_1$ + $4x_2$ + $6x3$ = 30

$-x_1$ $-2x_2$ + $3x_3$ = 8

In [79]:
#í¬ë˜ë¨¸ ê³µì‹ì€ í–‰ë ¬ì‹ì„ ì´ìš©í•´ ì—°ë¦½ì¼ì°¨ë°©ì •ì‹ì„ í‘¸ëŠ” ë°©ë²•
import tensorflow as tf
A=np.array([[1,0,2],[-3,4,6],[-1,-2,3]]) 
B=np.array([[6],[30],[8]]) #BëŠ” ì—­í–‰ë ¬ì´ ì•„ë‹ˆë‹¤

AT=int(np.linalg.det(A))
A1=np.array([[6,0,2],[30,4,6],[8,-2,3]]) 
AT1=np.linalg.det(A1)
A2=np.array([[1,6,2],[-3,30,6],[-1,8,3]]) 
AT2=np.linalg.det(A2)
A3=np.array([[1,0,6],[-3,4,30],[-1,-2,8]]) 
AT3=np.linalg.det(A3)

C=np.array([[AT1/AT,AT2/AT,AT3/AT]])

print('x1:',C[0][0],'x2:',C[0][1],'x3:',C[0][2])

x1: -0.9090909090909091 x2: 1.6363636363636365 x3: 3.4545454545454546